[Unit]
Description=BMS-Displays
After=xserver.service
Requires=xserver.service

[Service]
User=xuser
Environment=DISPLAY=:0
ExecStart=BmsDisplays
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
